.page {
  margin: 0;
  background-color: #2a2c2f;
  font-family: "Inter-Black", "Inter-Bold", "Inter-Regular", "Helvetica",
    "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .page {
    min-width: 1280px;
  }
}

@media (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
