.container__title {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  margin: 0;
  color: white;
  text-align: center;
  z-index: 2;
  /* border: 1px solid yellowgreen; */
}

@media screen and (max-width: 2000px) {
  .container__title {
    font-size: 72px;
    width: 560px;
  }
}

@media (max-width: 767px) {
  .container__title {
    font-size: 52px;
  }
}

@media (max-width: 380px) {
  .container__title {
    font-size: 42px;
    width: min-content;
  }
}

@media (max-width: 320px) {
  .container__title {
    font-size: 32px;
    width: 288px;
    /* height: 70px; */
  }
}
