.card-grid__web-res {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #aaaaaa;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (min-width: 1024px) {
  .card-grid__web-res {
    max-width: 456px;
  }
}

@media screen and (min-width: 768px) {
  .card-grid__web-res {
    grid-row: 1;
    grid-column: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card-grid__web-res {
    max-width: 352px;
  }
}
