.header__language {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.17;
}

.header__language:hover {
  opacity: 0.8;
}

@media all and (max-width: 520px) {
  .header__language {
    font-size: 18px;
    line-height: 1.11;
  }
}
