.description__paragraph {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  width: 100%;
  margin-left: calc((100% - 984px) / 2);
  max-width: 690px;
}

@media screen and (max-width: 1279px) {
  .description__paragraph {
    margin-left: calc((100% - 928px) / 2);
  }
}

@media screen and (max-width: 1023px) {
  .description__paragraph {
    max-width: 720px;
    margin-left: 24px;
  }
}

@media all and (max-width: 767px) {
  .description__paragraph {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}

@media (max-width: 320px) {
  .description__paragraph {
    margin-left: calc((100% - 288px) / 2);
    max-width: 288px;
  }
}
