.cover__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cover__container::before {
    content: "";
    position: absolute;
    background-image: url("/images/cover-trains.jpg"); 
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .8;
}

.cover__container:hover:before {
    opacity: .3;
    transition: .6s;
}
