.container__text {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: white;
  text-align: center;
  z-index: 2;
  /* border: 1px solid red; */
}

@media screen and (max-width: 2000px) {
  .container__text {
    font-size: 18px;
    width: 360px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .container__text {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .container__text {
    font-size: 14px;
    width: 288px;
    line-height: 16px;
  }
}
