.footer__link {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  padding-right: 18px;
  line-height: 1.25;
}

.footer__link:last-child {
  padding-right: 18px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 20px;
    line-height: 1;
  }
}

@media (max-width: 320px) {
  .footer__link {
    font-size: 24px;
  }
}
