.lead__image {
  width: 984px;
  height: 615px;
  margin-right: calc((100% - 984px) / 2);
  margin-left: calc((100% - 984px) / 2);
}

@media screen and (max-width: 1279px) {
  .lead__image {
    width: 928px;
    height: 580px;
    margin-right: calc((100% - 928px) / 2);
    margin-left: calc((100% - 928px) / 2);
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    width: 100%;
    height: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
