.card-link {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 0;
}

@media screen and (max-width: 2000px) {
  .card-link {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .card-link {
    width: 288px;
    margin-left: 20px;
    /* border: 1px solid yellowgreen; */
  }
}

@media (max-width: 320px) {
  .card-link {
    /* padding-top: 32px; */
    width: 288px;
    margin-left: calc((100% - 288px) / 2);
  }
}
