.card-grid__links {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 0;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .card-grid__links {
    max-width: 288px;
    width: 100%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 707px) {
  .card-grid__links {
    margin-left: 0;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .card-grid__links {
    margin-left: 16px;
    align-items: flex-start;
  }
}
