@media screen and (max-width: 2000px) {
  .cover {
    padding-top: 92px;
  }
}

@media all and (max-width: 1023px) {
  .cover {
    padding-top: 90px;
  }
}

@media (max-width: 767px) {
  .cover {
    padding-top: 78px;
  }
}

@media (max-width: 320px) {
  .cover {
    padding-top: 66px;
  }
}
