.card-grid:last-child {
  padding-bottom: 0;
}

.card-grid {
  max-width: calc((460px + 484px + 40px));
  margin-left: calc((100% - (460px + 484px + 40px))/2);
  margin-right: calc((100% - (460px + 484px + 40px))/2);
  display: grid;
  grid-template-columns: 460px 484px;
  row-gap: 48px;
  column-gap: 40px;
  padding-bottom: 80px;
  }

@media screen and (max-width: 1279px) {
  .card-grid {
    max-width: calc(1024px - 48px - 48px);
    margin-left: calc((100% - 928px)/2);
    margin-right: calc((100% - 928px)/2);
    column-gap: 32px;
    grid-template-columns: 440px 456px;
  }
}

@media screen and (max-width: 1023px) {
  .card-grid {
    max-width: calc(768px - 24px - 24px);
    margin-left: calc((100% - 720px)/2);
    margin-right: calc((100% - 720px)/2);
    column-gap: 28px;
    grid-template-columns: 340px max-content;
    padding-bottom: 73px;
  }
}


@media screen and (max-width: 767px) {
  .card-grid {
    max-width: calc(100% - 24px - 24px);
    grid-template-columns: 340px auto;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 707px) {
  .card-grid {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .card-grid {
    align-items: flex-start;
    padding-bottom: 50px;
  }
}
