.cover__title {
    font-weight: 900;
    margin: 0;
    text-decoration: none;
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
    /* border: 1px solid yellowgreen; */
}
