.card-grid__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 1023px) {
  .card-grid__text {
    gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .card-grid__text {
    margin-left: 20px;
  }
}

@media screen and (max-width: 707px) {
  .card-grid__text {
    padding-right: 20px;
  }
}


@media (max-width: 320px) {
  .card-grid__text {
    margin-left: 16px;
  }
}
