.card-grid__paragraph {
  margin: 0;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.63;
  width: 100%;
  font-size: 18px;
  max-width: 484px;
}

@media screen and (max-width: 1279px) {
  .card-grid__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .card-grid__paragraph {
    grid-row: 2;
    grid-column: 2;
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width: 707px) {
  .card-grid__paragraph {
    max-width: 484px;
  }
}

@media screen and (max-width: 320px) {
  .card-grid__paragraph {
    max-width: 288px;
  }
}
