.footer {
  padding-bottom: 24px;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  display: flex;
  margin-left: calc((100% - 1184px) / 2);
  margin-right: calc((100% - 1184px) / 2);
  flex-direction: row;
  justify-content: space-between;
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    row-gap: 48px;
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .footer {
    margin-left: 16px;
  }
}
