.main-info__language {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 2000px) {
  .main-info__language {
    font-size: 24px;
    line-height: 28px;
  }
}

@media all and (max-width: 767px) {
  .main-info__language {
    font-size: 24px;
    line-height: 28px;
  }
}

@media all and (max-width: 320px) {
  .main-info__language {
    font-size: 18px;
    line-height: 20px;
  }
}
